.robot-center {
    margin: auto;
}

.app-navbar-blue {
    margin-bottom: 0;
    background: transparent linear-gradient(to bottom, #d596f6 0%, #6ba4f9 100%);
    border: none;
    box-shadow: 0 -3px 30px #6ba4f9;
}

.app-navbar-white {
    height: 55px;
    background-image: linear-gradient(to bottom, white 0%, #f5f5f5 100%);
    border-color: #cccccc;
    text-align: center;
}

.app-container {
    height: 50px;
    color: white;
}

.app-container-title {
    margin-left: 40px;
    font-size: 25pt;
    font-weight: bold;
}

.app-nav-tabs {
    max-width: 600px;
    height: 100%;
    margin: auto;
}

.app-nav-tabs > li, li > span {
    height: 100%;
}

.app-nav-tabs > li > span {
    padding: 5px;
    color: #6b6b6b;
    display: block;
    cursor: pointer;
}

.app-nav-tabs > li > span:hover {
    background-color: #eeeeee;
}

.app-nav-tabs > li > span > span {
    display: block;
}

.app-nav-tabs > li.active > span {
    color: #349de4;
}

.app-content {
    height: calc(100vh - 105px);
    margin-top: 50px;
    margin-bottom: 55px;
    overflow: auto;
    /*border: 1px solid black;*/
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    to {
        opacity: 1.0;
    }
}

.menu-icon-parent {
    margin: 10px 0;
}

.menu-icon-parent svg {
    color: #d596f6;
}

.menu-icon-parent > div > svg {
    animation: fade 1.5s infinite;
}

.menu-icon-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-car {
    display: inline-block;
    margin: 15px 20px;
}

.menu-parent {
    width: 80%;
    max-width: 400px;
    margin: 30px auto;
}

.menu-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.menu-container > .menu-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background: transparent;
    pointer-events: auto;
}

.menu-container > .menu-wrapper:after {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    color: transparent;
    content: ".";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: white;
}

.menu-container > .menu-wrapper li {
    width: 80%;
    height: 80%;
    top: -30%;
    left: -30%;
    position: absolute;
    overflow: hidden;
    transform-origin: 100% 100%;
    pointer-events: none;
    border: 5px solid white;
    background-image: linear-gradient(-45deg, #59d2fe 0%, #4a8fe7 50%);
    opacity: 0.6;
}

.menu-container > .menu-wrapper li:first-child {
    transform: rotate(45deg);
}

.menu-container > .menu-wrapper li:nth-child(2) {
    transform: rotate(135deg);
}

.menu-container > .menu-wrapper li:nth-child(3) {
    transform: rotate(225deg);
}

.menu-container > .menu-wrapper li:nth-child(4) {
    transform: rotate(315deg);
}

.menu-container > .menu-wrapper li > span {
    width: 100%;
    height: 40%;
    left: 20%;
    bottom: 10%;
    display: table;
    position: absolute;
    pointer-events: auto;
    text-align: center;
    transform: rotate(-45deg);
    color: #FFF;
    cursor: pointer;
}

.menu-container > .menu-wrapper li > span > span {
    display: table-cell;
    position: absolute;
    top: 15%;
    width: 100%;
}

.menu-container > ul {
    width: 44%;
    height: 44%;
    top: 28%;
    left: 28%;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    position: absolute;
}

.menu-container > ul > li {
    width: 100%;
    height: 100%;
    position: absolute;
    list-style: none;
    border-radius: 50%;
    background-image: radial-gradient(circle, #47d3e7, #4094ff);
    opacity: 0.6;
}

.menu-container > ul > li > span {
    height: 100%;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
}

.menu-container > ul > li > span > * {
    height: 100%;
    line-height: 100%;
}

.chat-root {
    height: 100%;
    padding: 30px;
}

.chat-box {
    max-width: 800px;
    height: 100%;
    border: 1px #8080804d solid;
    border-radius: 3px;
    margin: auto;
}

.chat-card-root {
    height: 100%;
    background: #80808026;
}

.chat-card-container {
    padding: 10px;
}

.chat-card-container > div {
    padding: 5px 0;
}

.chat-card-avatar {
    border-radius: 3px;
}

.chat-card-name {
    margin-left: 10px;
}

.chat-card-refresh {
    width: 100%;
    margin-top: 10px;
    /*background-image: linear-gradient(to bottom, #b9efff 0%, #3a8be9 100%);*/
}

.chat-right-panel {
    height: 100%;
}

.chat-message-root {
    height: calc(100% - 45px);
    padding: 12px;
    background: #fafafa;
    overflow-y: auto;
}

.chat-interactive-root {
    display: flex;
    padding: 5px;
}

.chat-interactive-root > input {
    border-color: #66afe9;
    margin: 0 5px;
}

.chat-interactive-voice {
    width: 100%;
    margin: 0 10px;
}

.chat-interactive-toggle {
    width: 45px;
}

.chat-box-root {
    list-style: none;
    padding: 0;
}

.chat-box-time {
    margin: 7px 0;
    text-align: center;
}

.chat-box-time > span {
    display: inline-block;
    padding: 0 18px;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    background-color: #dcdcdc;
}

.chat-box-original {

}

.chat-box-original > img {
    float: left;
    margin: 0 10px 0 0;
    border-radius: 3px;
}

.chat-box-original > div {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    max-width: calc(100% - 40px);
    min-height: 30px;
    line-height: 2.5;
    font-size: 12px;
    text-align: left;
    word-break: break-all;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.chat-box-original > div:before {
    content: " ";
    position: absolute;
    top: 9px;
    right: 100%;
    border: 6px solid transparent;
    border-right-color: #f0f0f0;
}

.chat-box-custom {
    text-align: right;
}

.chat-box-custom > img {
    float: right;
    margin: 0 0 0 10px;
}

.chat-box-custom > div {
    background-color: #a6d8ff;
}

.chat-box-custom > div:before {
    right: inherit;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #a6d8ff;
}

@media (max-width: 768px) {
    .chat-root {
        padding: 0;
    }

    .chat-box {
        border: none;
    }

    .chat-card-root {
        height: auto;
    }

    .chat-card-container {
        padding: 5px;
    }

    .chat-card-container > div {
        display: inline-block;
        padding: 0 5px;
    }

    .chat-card-name {
        display: none;
    }

    .chat-card-refresh {
        width: auto;
        margin-top: 0;
        float: right;
    }

    .chat-card-refresh > span {
        display: none;
    }

    .chat-right-panel {
        height: calc(100% - 50px);
    }
}

@media (max-width: 479px) {
    .app-container-title {
        margin-left: 20px;
        font-size: 20pt;
    }

    .menu-container > .menu-wrapper li > span > span {
        top: 0;
    }
}